---
---

@import "{{ site.theme }}";

img { display: block; } 
img.wrap { max-width: 70%; margin: 30px 0px; } 
img.align-right { float: right; margin-left: 30px; } 
img.align-left { float: left; margin-right: 30px; }


body.my {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #606c71; }

div.publications { font-size: 15px; }
