---
---

@import "{{ site.theme }}";

img { display: block; } 
img.wrap { max-width: 70%; margin: 30px 0px; } 
img.align-right { float: right; margin-left: 30px; } 
img.align-left { float: left; margin-right: 30px; }

.main-content {
  word-wrap: break-word; }
  .main-content :first-child {
    margin-top: 0; }
  @media screen and (min-width: 64em) {
    .main-content {
      max-width: 64rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 0.9rem; } }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
      padding: 2rem 4rem;
      font-size: 0.9rem; } }
  @media screen and (max-width: 42em) {
    .main-content {
      padding: 2rem 1rem;
      font-size: 0.8rem; } }


.main-content ul,
.main-content ol {
  margin-top: 0;
  font-size: 0.8rem;}
